$color_1: white;
$color_2: gray;
$color_3: black;
$color_4: red;
$color_5: rgb(220, 220, 220);
$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: Arial, sans-serif;
$background-color_1: #B56C38;
$background-color_2: rgb(84, 84, 84);
$background-color_3: white;
$background-color_4: gray;

body {
    background: url("../assets/img/bgMainIMG.webp") repeat-x center center fixed;
    background-size: cover;
    opacity: 1;
    font-family: $font-family_1;
    padding-bottom: 5rem;
    position: relative;
    min-height: 100vh;
}

header {
    p {
        display: flex;
        justify-content: center;
        color: $color_1;
        padding: .5rem;
        background-color: $background-color_1;
    }
}

.cart {
    margin-left: auto;

    img {
        width: 3rem;
    }
}

.user {
    margin-left: auto;

    img {
        width: 3rem;
    }
}

nav {
    padding: 10px;

    @media (min-width: 600px) {
        padding: 20px;
    }
}

a {
    position: relative;
    text-decoration: none;
    color: $color_2;
    &:hover {
        color: $color_1;
    }
}

.pagenav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: flex;
        align-items: center;

        li {
            margin-right: 20px;
        }
    }
}

.nav-bar {
    justify-content: space-between;
    list-style-type: none;
}

.user-menu {
    text-align: end;
}

.product-img-main {
    width: 30%;
}

section {
    margin-top: 2rem;
    margin-left: 2rem;
}

.display-comentarios {
    background-color: $background-color_2;
    width: 60%;
    min-height: 11rem;
    padding: 1rem;
    border-radius: 2rem;
    float: left;
    text-align: center;
}

.comentario {
    background-color: $background-color_3;
    opacity: 1;
    width: 20%;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 1rem;
    float: left;
    box-sizing: border-box;
    margin-left: 2rem;

    p {
        color: $color_3;
    }
}

.sobre-nosotros {
    opacity: 1;
    width: 32%;
    float: right;
    padding: 2rem;
    background-color: $background-color_1;
    color: $color_1;
    font: 0.8em sans-serif;
    line-height: 1rem;

    h4 {
        font-size: medium;
        margin-top: -0.1rem;
    }
}

.container-grids {
    display: grid;
    margin: 0 auto;
    max-width: 90%;
    grid-gap: 1rem;

    h2 {
        color: $color_3;
    }
}

.descripcion {
    font-size: small;
    color: $color_1;
}

.cart-img {
    width: 15%;
    display: block;
    float: right;
    margin-top: -1rem;
    margin-right: -1rem;
}

.card-cart {
    background-color: $background-color_4;
    opacity: 0.8;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    border-radius: 3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2rem;
    float: left;
    box-sizing: border-box;
}

h4 {
    text-align: left;
    margin-top: -1rem;
}

.container-payment {
    background-color: $background-color_3;
    opacity: 0.5;
    width: 30%;
    float: right;
    border-radius: 2rem;
    text-align: center;
    margin-top: -20rem;
}

.recibo-content {
    height: 30rem;
}

form {
    max-width: 90%;
}

.form-style {
    background-color: $background-color_3;
    opacity: 0.5;
    border-radius: 2rem;
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    width: 150px;
    margin-left: 1rem;
    font-family: $font-family_2;
    padding: 10px;
    text-align: center;
}

input {
    display: inline-block;
    width: 200px;
}

.user-img {
    width: 3rem;
}

.recommend-img {
    width: 5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title {
    margin-bottom: 5vh;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    box-sizing: border-box;
    border-radius: 5rem;
    .card-title{
        color: $color_1;
    }
    .card-body{
        color: $color_5;
        text-shadow: 1px 1px 2px black;
    }
}

svg {
    color: $color_3;

    &:hover {
        color: $color_4;
    }
}