$colors: (
            1 : white,
            2 : gray, 
            3 : black, 
            4 : rgb(220, 220, 220)
);

@function color($search) {
    @return map-get($colors, $search);
}

$background-colors: (
            bg1 : #B56C38,
            bg2 : rgb(84, 84, 84),
            bg3 :  #834F29,
            bg4 : gray,
);

@function background-colors($search) {
    @return map-get($background-colors, $search);
}

$font-family_1: Arial, Helvetica, sans-serif;
$font-family_2: Arial, sans-serif;

body {
    background: url("../assets/img/bgMainIMG.webp") repeat-x center center fixed;
    background-size: cover;
    opacity: 1;
    font-family: $font-family_1;
    padding-bottom: 5rem;
    position: relative;
    min-height: 100vh;
}

header {
    p {
        display: flex;
        justify-content: center;
        color: color(1);
        padding: .5rem;
        background-color: background-colors(bg1);
    }
}

@mixin cardtext(){
    color: color(4);
    text-shadow: 1px 1px 2px black;
}

@mixin center($width){
    width: $width;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a {
    position: relative;
    text-decoration: none;
    color: color(2);
    &:hover {
        color: color(1);
    }
}

form {
    @include center(100%);
    padding: 2rem;
    .btn{
        @include center(100%);
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.title {
    margin-bottom: 5vh;
}

.card-maquinas {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    text-align: center;
    box-sizing: border-box;
    border-radius: 5rem;
    .card-img-top {
        @include center(75%);
    }
    .card-title{
        @include cardtext()
    }
    .card-body{
        @include cardtext()
    }
}

.aboutuslg{
    background-color: background-colors(bg3);
    margin-left: 4rem;
}

.aboutusxl{
    @extend .aboutuslg;
    margin-left: 4rem;
}

.card-capsulas {
    padding-top: 1rem;
    .card-img-top {
        @include center(60%);
    }
    @extend .card-maquinas;
}